<launch>
    <node pkg="intervalar_localization" type="interval_localization_3D" name="interval_localization_3D" output="screen" >
        <!-- <remap from="/odom" to="/odom_encoder" /> -->
        <param name="localizeFPS" value="2" />
        <param name="useNreadings" value="80" />
        <param name="thresholdScan" value="0.15" />
        <param name="thresholdOdomOmega" value="0.5" />
        <param name="initialPoseX" value="253539.127054" />
        <param name="initialPoseY" value="6805743.6782" />
        <param name="initialPoseZ" value="122." />
        <param name="initialPoseTH" value="-0.5009095" /> <!-- 0.4886922, 2.0717058-->
        <param name="uncertaintyXY" value="1." />
        <param name="uncertaintyZ" value="1.0" />
        <param name="uncertaintyTH" value="0.174533" />
        <param name="vel_bounding_lb" value="1." />
        <param name="vel_bounding_ub" value="1." />
        <param name="odom_yaw_bounding_lb" value="0.98" />
        <param name="odom_yaw_bounding_ub" value="1.02" />
        <param name="laserscan_uncertainty" value="0.05" />
        <param name="laserscan_bearing_uncertainty" value="0.10472" />
        <param name="minNroNodes" value="0" />
        <param name="nroLinksTail" value="5000" />
        <param name="stepLinksTail" value="3" />
        <!--<param name="blueview_pitch" value="0.872665"/>-->
    </node>
</launch>
