<launch>
    <node pkg="helius" type="state_node" name="state_node" output="screen">
        <param name="log_file" value="/home/schvarcz/Dropbox/Doutorado-ENSTA/Guerledan/2017/BUBBLE_WORKSPACE/log/logstate_2017-10-13_10h59min56s_limpo.csv"/>
        <param name="time_diff" value="0"/>
        <param name="first_time" value="0"/>
    </node>

    <node pkg="helius" type="map_node" name="map_node" output="screen">
        <param name="log_file" value="/home/schvarcz/Dropbox/Doutorado-ENSTA/Guerlédan_2013_06/MRIS_XYZ_Guerledan_Retenue_2013_06_L93_IGN69_1x1.pts"/>
        <param name="minX" value="253150"/>
        <param name="maxX" value="253600"/>
        <param name="minY" value="6805440"/>
        <param name="maxY" value="6805940"/>
    </node>
    <!--<include file="$(find helius)/launchers/simulated_readings.launch" />-->
    <!--<include file="$(find helius)/launchers/blueview_data.launch" />-->
    <!--<include file="$(find helius)/launchers/guerledan_localization.launch" />-->

    <!--<node pkg="rviz" type="rviz" name="rviz" args="-d $(find helius)/config/config.rviz" />-->

    <node pkg="tf" type="static_transform_publisher" name="odom2map" args="253539.127054 6805743.6782 0 0 0 0  map odom 1000" />
    <!--<node pkg="tf" type="static_transform_publisher" name="bv2base_link" args="0 0 0 0 0.872665 0  base_link base_blue_view 1000" />-->
    <node pkg="tf" type="static_transform_publisher" name="bv2base_link" args="0 0 0 0 1.5708 0  base_link base_blue_view 1000" />
</launch>
