<launch>

    <!--<arg name="bagfile" default="/home/schvarcz/Desktop/Guerledan_Datasets/Test_90/2018-04-19-18-29-05.bag" />-->
    <arg name="bagfile" default="/home/schvarcz/Desktop/Guerledan_Datasets/Test_90/2018-04-25-18-19-06.bag" />
    <!--<arg name="bagfile" default="/home/schvarcz/Desktop/Guerledan_Datasets/Test_50/2018-04-19-18-56-13.bag" />-->

    <param name="/use_sim_time" value="true"/>
<!--    <node pkg="rqt_bag" type="rqt_bag" name="rqt_bag" output="screen" args="$(arg bagfile) - -clock"  />-->
    <node pkg="rosbag" type="play" name="rosbag" output="screen" args="$(arg bagfile) --rate 10"  />


<!--    <include file="$(find helius)/launchers/guerledan_localization.launch" />-->
</launch>
