<launch>
    <arg name="bagfile" default="/home/schvarcz/Desktop/Guerledan_Datasets/Test_90/2018-05-04-15-22-51.bag" />
<!--    <arg name="bagfile" default="/home/schvarcz/Desktop/Guerledan_Datasets/Test_50/2018-05-28-15-55-44.bag" />-->

    <param name="/use_sim_time" value="true"/>
<!--    <node pkg="rqt_bag" type="rqt_bag" name="rqt_bag" output="screen" args="$(arg bagfile) - -clock"  />-->
    <node pkg="rosbag" type="play" name="rosbag" output="screen" args="$(arg bagfile) --rate 10"  />


<!--    <include file="$(find helius)/launchers/guerledan_localization.launch" />-->
</launch>
